{% extends 'base.html' %}



{% block content %}

<div class="container">
  <div class="card bg-danger">
    <div card-header style="color: white"><h1>CONFIRM DELETE MODSYNC VERSION</h1></div>
    <div class="card card-body">
      <h2 class="card-title">Are you sure you want to delete version {{ ver.name }}?</h2>
      <h4 class="card-text"> This action cannot be undone!!</h4>
      <div class="flex-row">
      <form action="{{ url_for('admin.delete_modsync_version', ver_id=ver.id) }}" method=post>
      <input class="btn btn-danger" type=submit value="DELETE"> <a class="btn btn-success" href="{{ url_for('admin.modsync')}}">GO BACK</a> </form> 
    </div>
  </div>
</div>
{% endblock %}