{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "specs" %}



{% block content %}
<h1>{% block title %}ModSync Backwards Compatability {% endblock %}</h1>

<div class="container">
        <a class="btn btn-secondary btn-space"
        href="{{ url_for('admin.add_ms_ver') }}">Update Version</a>
    <table class="table table-striped table-bordered" style="width:100%" id="specTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Major</th>
                <th scope="col">Minor</th>
                <th scope="col">Patch</th>
            </tr>
        </thead>
        <tbody>
            {% for ver in vers %}
                <tr>                
                    <td scope="row">{{ ver.id }}</td>
                    <td scope="row">{{ver.major }}</td>
                    <td scope="row">{{ ver.minor }}</td>
                    <td scope="row">{{ ver.patch }}</td>
                    <td><a href="/add_ver/{{ ver.id }}">{{ action('edit', "version") }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}