{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %} 
{% set active_page = "specs" %}
{% block header %}
  <h1>{% block title %}Update ModSync Version{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 bg-light text-dark">

  {% if form.errors %}
      {{ form.errors }}
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-sm">
        {{ wtf.quick_form(form) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}