<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="https://x51squadron.com">
    <img src="/static/images/logos/x51.png"
      width="50" height="50" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      {% if current_user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link {{ 'active' if active_page == 'roster' else '' }}" href="/">Roster </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {{ 'active' if active_page == 'specs' else '' }}" href="/specs">Specs </a>
      </li>

      <li class="nav-item">
        <a class="nav-link {{ 'active' if active_page == 'awards' else '' }}" href="{{ url_for('awards.awards') }}">Awards</a>
      </li>
      
      {% if current_user.has_role('officer') or current_user.has_role('instructor') %}
      <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'trainings' else '' }}" href="/trainings">Trainings </a>
        </li>
      <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'activity' else '' }}" href=" {{ url_for('members.all_activity') }}">Activity </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link {{ 'active' if active_page == 'statistics' else '' }}" href="/statistics">Member Stats</a>
      </li>
      
      <li class="nav-item dropdown"></li>
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Discord
      </a>
      <div class="dropdown-menu">
        
        <a class="dropdown-item" href="/discord">Stats</a>
        <a class="dropdown-item" href="/discord_roles">Roles</a>

      </div>
    </li>

      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Virtual Sorties
        </a>
        <div class="dropdown-menu">
          {% if current_user.is_authenticated %}
          <a class="dropdown-item" href="{{ url_for('sorties.index') }}">Sorties</a>
          <a class="dropdown-item" href="{{ url_for('sorties.league', platform='il2') }}">Roster</a>

          <a class="dropdown-item" href="{{ url_for('sorties.user_pilot', user_id = current_user.id) }}">My Pilots</a>
          <a class="dropdown-item" href="{{ url_for('sorties.new_pilot') }}">Create Pilot</a>
          {% endif %}
          <a class="dropdown-item" href="{{ url_for('sorties.help') }}">Help</a>

        </div>
      </li>
      
      {% if current_user.is_authenticated %}

      <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'archives' else '' }}" href="/archives">X51 Archives</a>
      </li>
      {% endif %}
      <li class="nav-item">
          <a class="nav-link {{ 'active' if active_page == 'missions' else '' }}" href="/missions">Mission Library</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {{ 'active' if active_page == 'kneeboard' else '' }}" href="/kneeboard">Kneeboards</a>
    </li>

    </ul>
  {#</div>
  <div class="collapse navbar-collapse justify-content-end">#}
    <ul class="navbar-nav">
      
      {% if current_user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="/auth/account">{{ current_user.username }}</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="/auth/logout">Logout</a>
          </li>
         
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
         
        {% endif %}
      
      {% if current_user.has_role('admin') %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('admin.administer') }}">Admin</a>
        </li>
      {% endif %}
    </ul>
  </div>
  

</nav>
