{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "kneeboard" %}



{% block content %}

<h1>{% block title %}{{ kb.title }}{% endblock %}</h1>
<div class ="container">
    <a class="btn btn-secondary btn-space"
        href="{{ url_for('kneeboard.new_kb_flight', kb_id=kb.id) }}">Add New Flight</a>

    <a class="btn btn-secondary btn-space"
        href="{{ url_for('kneeboard.new_kb_entity', kb_id=kb.id) }}">Add New Entity</a>
    
    <a class="btn btn-success btn-space"
        href="{{ url_for('kneeboard.download_kb', kb_id=kb.id) }}">Generate</a>

    <a class="btn btn-primary btn-space"
        href="{{ url_for('kneeboard.edit_kb', kb_id=kb.id) }}">Edit Mission Card</a>
    
    <a class="btn btn-danger btn-space"
        href="{{ url_for('kneeboard.delete_kb', kb_id=kb.id) }}">Delete Mission Card</a>
    
        <h3>Briefing Summary: </h3>
        {{ kb.summary }} <br><br>
        <h3>Rules of Engagement and SPINS: </h3>
        {{ kb.roe }} <br><br>

        <h4 style="text-align:center">Flights</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Airframe</th>
                    <th scope="col">Task</th>
                    <th scope="col">Frequency (MHz AM)</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in kb.flights %}
                 <tr>
                    <td scope="row">{{ flight.name }}</td>
                    <td scope="row">{{ flight.airframe }}</td>
                    <td scope="row">{{ flight.task }}</td>
                    <td scope="row">{{ "%.3f"|format(flight.freq) }}</td>
                    <td scope="row">
                        <a href="{{ url_for('kneeboard.delete_flight', flight_id=flight.id) }}">{{ action('delete', 'flight') }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <h4 style="text-align:center">Airbases</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Frequency (MHz AM)</th>
                    <th scope="col">RWY</th>
                    <th scope="col">ILS</th>
                    <th scope="col">TACAN</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for en in kb.entities %}
                {% if en.type == "airbase" %}
                 <tr>
                    <td scope="row">{{ en.name }}</td>
                    <td scope="row">{{ "%.3f"|format(en.freq) }}</td>
                    <td scope="row">{{ en.rwy }}</td>
                    <td scope="row">{{ "%.3f"|format(en.ils) }}</td>
                    <td scope="row">{{ en.tacan }}</td>
                    <td scope="row">
                        <a href="{{ url_for('kneeboard.delete_entity', entity_id=en.id) }}">{{ action('delete', 'airbase') }}</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <h4 style="text-align:center">FARPS</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Frequency (MHz AM)</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for en in kb.entities %}
                {% if en.type == "farp" %}
                 <tr>
                    <td scope="row">{{ en.name }}</td>
                    <td scope="row">{{ "%.3f"|format(en.freq) }}</td>
                    <td scope="row">
                        <a href="{{ url_for('kneeboard.delete_entity', entity_id=en.id) }}">{{ action('delete', 'farp') }}</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <h4 style="text-align:center">Controllers</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Frequency (MHz AM)</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for en in kb.entities %}
                {% if en.type == "controller" %}
                 <tr>
                    <td scope="row">{{ en.name }}</td>
                    <td scope="row">{{ "%.3f"|format(en.freq) }}</td>
                    <td scope="row">
                        <a href="{{ url_for('kneeboard.delete_entity', entity_id=en.id) }}">{{ action('delete', 'controller') }}</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <h4 style="text-align:center">Tankers</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Frequency (MHz AM)</th>
                    <th scope="col">TACAN</th>
                    <th scope="col">Altitude (FT)</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for en in kb.entities %}
                {% if en.type == "tanker" %}
                 <tr>
                    <td scope="row">{{ en.name }}</td>
                    <td scope="row">{{ "%.3f"|format(en.freq) }}</td>
                    <td scope="row">{{ en.tacan }}</td>
                    <td scope="row">{{ en.alt }}</td>
                    <td scope="row">
                        <a href="{{ url_for('kneeboard.delete_entity', entity_id=en.id) }}">{{ action('delete', 'tanker') }}</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

</div>
{% endblock%}