{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "kneeboard" %}




{% block content %}
<h1>{% block title %}Create New Mission Data Card{% endblock %}</h1>
<div class="container-fluid h-100 bg-light text-dark">

    {% if form.errors %}
       {{ form.errors }}
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-sm">
          {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
{% endblock %}
      
