{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "missions" %}



{% block content %}
<h1>{% block title %}Available Missions{% endblock %}</h1>

<div class="container">
        <a class="btn btn-secondary btn-space"
        href="{{ url_for('missions.upload_mission') }}">Upload Mission</a>
    <table class="table table-striped table-bordered" style="width:100%" id="missionTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Platform</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Mission File</th>
                <th scope="col">Briefing File</th>
                <th scope="col">Upload Date</th>
                <th scope="col">Uploader</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for mission in missions %}
                <tr>                
                    <td scope="row">{{ mission.id }}</td>
                    <td scope="row">{{ mission.category }}</td>
                    <td scope="row">{{ mission.name }}</td>
                    <td scope="row">{{ mission.description }}</td>
                    <td scope="row">
                        <a href="/static/instance/uploads/missions/{{ mission.mission }}"><i class="fas fa-download" data-toggle="tooltip" data-placement="top" title="download {{ mission.name }}"></i></a>
                        <button onclick="copyDownloadLink('/static/instance/uploads/missions/{{ mission.mission | safe }}')" class="btn btn-space"><i class="far fa-copy"></i></button>
                    </td>
                    <td scope="row">
                        {% if mission.briefing %}
                            <a href="/static/instance/uploads/missions/{{ mission.briefing }}"><i class="fas fa-download" data-toggle="tooltip" data-placement="top" title="download {{ mission.name }} briefing"></i></a>
                            <button onclick="copyDownloadLink('/static/instance/uploads/missions/{{ mission.briefing | safe }}')" class="btn btn-space"><i class="far fa-copy"></i></button>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td scope="row">{{ mission.date.strftime('%Y-%m-%d') }}</td>
                    <td scope="row">{{ mission.user.username }}</td>
                    <td><a href="/missions/delete/{{ mission.id }}">{{ action('delete', "mission") }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function copyDownloadLink(link) {
        var url = "https://" + location.host.split(":")[0] + link;
        navigator.clipboard.writeText(url).then(function() {
                console.log('link copied: '+url)
              }, function() {
                console.log('link copy failed: '+url)
              });
    }
</script>
{% endblock %}