{% extends 'base.html' %}
{% set active_page = "awards" %}


<h1>{% block title %}Available Award{% endblock %}</h1>
{% block content %}
<div class ="container">
    <table class="table table-striped table-bordered" style="width:100%">
    <tbody>
            <tr>
                <td class="center", valign="middle">
                    <div class="card" style="width: 18rem; margin: auto;">
                        <img class="card-img-top" src="/static/instance/uploads/images/awards/{{ award.icon_url }}" alt="award logo">
                        <div class="card-body">
                            <h3 class="card-title">Title: {{ award.name }} </h3>
                            <p class="card-text">Category: {{ award.category }}</p>
                        </div>
                        <p>{{ award.description }}</p>
                    </div>
                    <p>Prize: {{ award.prize }} </p>

                </td>
               
            </tr>
            <tr>
                <td>
                    Receivers:
                    <ul class="list-unstyled">
                        {% for m in award.awards %}
                        <li><a href="/pilot/{{ m.id }}">{{ m.username }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
     </tbody>
    </table>       
    {% if current_user.has_role('officer') %}
        <a href="/awards/award/{{ award.id }}/edit" class="btn btn-info">Edit Details</a>
        <a href="/awards/award/{{ award.id }}/edit/image" class="btn btn-success">Upload New Image</a>
    {% endif %}
</div>


{% endblock %}