{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %} 
{% set active_page = "awards" %}
{% block header %}
  <h1>{% block title %}New Award{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 bg-light text-dark">

  <div class="row">
    <div class="col border-0">
    </div>

    <div class="col border-0">
      <div class="card">
        <div class="card-header">
          X51 COMMAND
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Edit "{{ award_name }}"</h5>

          {% if form.errors %}
          {{ form.errors }}
      {% endif %}
      <div class="container">
        <div class="row">
          <div class="col-sm">
              {% if img==True %}
                <form method="POST" action="" enctype="multipart/form-data">
                    <div>
                        {{ form.award_img.label }}:
                        {{ form.award_img() }}

                    </div>
                    {{ form.submit() }}
                    {{ form.csrf_token }}
                </form>
                {{ form.csrf_token }}
            {% else %}    
            {{form.hidden_tag()}}
            {{ wtf.quick_form(form) }}
            {% endif %}
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
    <div class="col border-0"></div>
  </div>
</div>

{% endblock %}