{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %} 
{% set active_page = "archives" %}
{% block header %}
  <h1>{% block title %}New Archive Upload{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 bg-light text-dark">

  <div class="row">
    <div class="col border-0">
    </div>

    <div class="col border-0">
      <div class="card">
        <div class="card-header">
          Upload
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Upload new archive (max size 25MB)</h5>

          {% if form.errors %}
          {{ form.errors }}
      {% endif %}
      <div class="container">
        <div class="row">
          <div class="col-sm">
            {{ wtf.quick_form(form) }}
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
    <div class="col border-0"></div>
  </div>
</div>

{% endblock %}