{% macro input(confirm_text, conf='yes', den = 'no' -%}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ confirm_text }}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-si">{{ conf }}}</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no">{{ den }}</button>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}