{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "sorties" %}



{% block content %}
<h1>{% block title %}Sorties{% endblock %}</h1>

<div class="container">
        <a class="btn btn-secondary btn-space"
        href="{{ url_for('sorties.new_sortie') }}">Add New Sortie</a> 
        <a class="btn btn-secondary btn-space"
        href="{{ url_for('sorties.user_pilot', user_id=current_user.id) }}">View Pilots</a>
    <table class="table table-striped table-bordered" style="width:100%" id="sortieTable">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Platform</th>
                <th scope="col">Date</th>
                <th scope="col">Allegiance</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sortie in sorties %}
            <tr>
                <td scope="row">{{ sortie.id }}</td>
                <td scope="row">{{ sortie.platform }}</td>
                <td scope="row">{{ sortie.date.strftime('%Y-%m-%d') }}</td>
                <td scope="row">{{ sortie.get_side() }}</td>
                <td scope="row">{{ sortie.description }}</td>
                <td scope="row">
                    <a class="mr-5", href="{{ url_for('sorties.sortie', sortie_id=sortie.id) }}">{{ action('view', 'sortie') }}</a>
                    <a href="{{ url_for('sorties.delete_sortie', sortie_id=sortie.id) }}">{{ action('delete', 'sortie') }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready( function () {
        $('#sortieTable').DataTable({
            'pageLength': 50});
    } );
</script>

{% endblock %}
