{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %} 
{% set active_page = "activity" %}
{% block content %}
<div class="container">
  <h1>{% block title %}Attendance Activity{% endblock %}</h1>
  <div class="alert alert-info center">
    <h3>Select a start and end date to see activity in that time period </h3>
  </div>
  {% if form.errors %}
    {{ form.errors }}
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      {{ wtf.quick_form(form) }}
    </div>
  </div>
</div>

<div>

</div>
    <table class="table table-striped table-bordered" style="width:100%" id="memberTable">
        <thead>
            <th>Username</th>
            <th>Main Platform</th>
            <th>Activity (max: 100)</th>
            <th>Total Trainings Selected</th>
            <th>Attended</th>
        
        <tbody>
            {% for r in result %}
            <tr>
            <td><a href=" {{ url_for('members.activity', pilot_id = r.member.id) }}">{{ r.member.username }}</a></td>
            <td>{{ r.member.req_training }}</td>
            <td class="wrapper">{{ r.activity | round }}</td>
            <td>{{ r.n_all_trainings }}</td>
            <td>{{ r.n_user_attended }}</td>
        </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $( document ).ready(function() {
        $('#memberTable').DataTable({
            searchPane: {columns: [1]},
            'pageLength': 50,
            "order": [[ 2, "desc" ]]});
        $( "#start_date" ).prop( "disabled", true );
        $( "#end_date" ).prop( "disabled", true );
        $("#last_3_months").prop('checked', true);
    });
    $('#last_3_months').change(
        function(){
            if ($(this).is(':checked')) {
                $( "#start_date" ).prop( "disabled", true );
                $( "#end_date" ).prop( "disabled", true );
            }
            else {
                $( "#start_date" ).prop( "disabled", false );
                $( "#end_date" ).prop( "disabled", false );
            }
        });
</script>
{% endblock %}