{% extends 'base.html' %}



{% block content %}

<div class="container">
  <div class="card bg-danger">
    <div card-header style="color: white"><h1>CONFIRM DELETE SPECIALISATION</h1></div>
    <div class="card card-body">
      <h2 class="card-title">Are you sure you want to delete mission {{ spec.name }}?</h2>
      <h4 class="card-text"> This action cannot be undone and will remove it for all current members!!</h4>
      <div class="flex-row">
      <form action="{{ url_for('members.delete_spec', spec_id=spec.id) }}" method=post>
      <input class="btn btn-danger" type=submit value="DELETE"> <a class="btn btn-success" href="{{ url_for('members.specs')}}">GO BACK</a> </form> 
    </div>
  </div>
</div>
{% endblock %}