{% extends 'base.html' %}
{% set active_page = "discord" %}
<style>
</style>

{% block content %}

<div class="container">
  <div class="card">
      <div class = "card-header">
      <h5 class="card-title">Discord Roles</h5> 
      <p class="card-text">
        Role statistics
      </p>
      {% if current_user.has_role('officer') %}
      <form action="/discord_roles">
      <input {{ btn_status }} class="btn btn-info" type="submit" value="Refresh" formmethod="post">
    </form>
    {% endif %}
     </div>
    <div class="card-body">
      <div class="row">
        <div class="accordion" id="role-accordion">
          
          {% for role, members in data.items() %}
          <div class="card">
            <div class="card-header" id="card-{{ loop.index }}">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ loop.index }}" aria-expanded="true" aria-controls="collapse-{{ loop.index }}">
                  {{ role }}
                </button>
              </h5>
            </div>
            <div id="collapse-{{ loop.index }}" class="collapse" aria-labelledby="card-{{ loop.index }}" data-parent="#role-accordion">
              <div class="card-body">
                <ul>
                  {% for m in members %}
		  <li>{{ m }}</li>
                  {% endfor %}                
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>       
  </div>
</div>
{% include 'footer.html' %}
{% endblock %}
