{% extends 'base.html' %}
{% from  'macros/macros.html' import action %}
{% set active_page = "roster" %}
{% block header %}


{% endblock %}

{% block content %}
<h1>{% block title %}Members{% endblock %}</h1>
{% if request.MOBILE %}

{% endif %}


    {% if current_user.has_role('officer') or current_user.has_role('instructor') %}
    <div class="container center">
      <table align="center">
        <tbody>
          <tr>
            {% if request.path == '/' %}
              {% if current_user.has_role('officer') %}
                <td><a href="/create" id = "addPilot" class="btn btn-success btn-space">Add New Member</a></td>
              {% endif %}
            <td><a href="/ex_members" class="btn btn-info btn-space">View Ex-Members</a></td>
            {% elif request.path == '/ex_members' %}
              <td><a href="/" class="btn btn-info">View Current Members</a></td>
            {% endif %}
          </tr>
          
        
      </tbody>
      </table>

        </div>
        
  <div class="accordion" id="tableAccordion">
  <div class="card">
    <div class="card-header  accordionHeader" id="accordionHeaderOne">
      <h2 class="mb-0">
        <button id= "collapseBtn1" type="button" class="btn btn-secondary btn-space" data-toggle="collapse" data-target="#fullTableDiv">Full Roster</button>
      </h2>
    </div>
    <div class="collapse" id="fullTableDiv">
    <table class="table table-striped table-bordered" style="width:100%" id="fullMemberTable">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Actions</th>
          <th scope="col">Username</th>
          <th scope="col">Rank</th>
          <th scope="col">Join Date</th>
          <th scope="col">Location</th>
          <th scope="col">Training Zone</th>
          <th scope="col">WT</th>
          <th scope="col">DCS</th>
          <th scope="col">IL2</th>
          <th scope="col">BMS</th>
          <th scope="col">ARMA</th>
          <th scope="col">SPEC</th>
          <th scope="col">Attended</th>
          <th scope="col">Advised</th>
          <th scope="col">Missed</th>
          <th scope="col">Recent unadvised</th>
          <th scope="col">Warning due</th>
          <th scope="col"># of warnings</th>
          <th scope="col">On Leave</th>   
        </tr>
      </thead>
      <tbody>
        {% for member in members %}
        <tr {% if member.on_leave  %} style="background-color:rgb(151, 151, 151)" {% endif %} >
          <th scope="row">{{ member.id }}</th>
          <td><a href="/pilot/{{ member.id }}">{{ action('view', 'pilot') }}</a>
            <a href="/pilot/{{ member.id }}/edit">{{ action('edit', 'pilot') }}</a>
            <td><a href="/pilot/{{ member.id }}"> {{ member.username }}</a></td>
          <td>{{ member.pilot_rank }}</td>
          <td>{{ member.join_date.strftime('%Y-%m-%d') }}</td>
          <td>{{ member.location }}</td>
          <td>{{ member.geozone }}</td>
          <td
            {% if member.req_training == "wt" %} 
              style="background-color: #d4edda;"              
            {% endif %} >
              {% if member.wt == True %}
                <img class = "gicon" src="/static/images/logos/wt_logo.png" alt="War Thunder wt"></img> 
              {% endif %}
          </td>
          <td
          {% if member.req_training == "dcs" or member.req_training == "aero" %} 
            style="background-color: #d4edda;"              
          {% endif %} >
            {% if member.dcs == True %}
              <img class = "gicon" src="/static/images/logos/dcs_logo.png" alt="DCS: World dcs"></img> 
            {% endif %}
          </td>
        <td
        {% if member.req_training == "il2" %} 
          style="background-color: #d4edda;"              
        {% endif %} >
          {% if member.il2 == True %}
            <img class = "gicon" src="/static/images/logos/il2_logo.png" alt="IL-2 il2"></img> 
          {% endif %}
        </td>
        <td
        {% if member.req_training == "bms" %} 
          style="background-color: #d4edda;"              
        {% endif %} >
          {% if member.bms == True %}
            <img class = "gicon" src="/static/images/logos/bms_logo.png" alt="Falcon BMS bms"></img> 
          {% endif %}
        </td>
        <td
        {% if member.req_training == "arma" %} 
          style="background-color: #d4edda;"              
        {% endif %} >
          {% if member.arma == True %}
            <img class = "gicon" src="/static/images/logos/arma_logo.png" alt="ARMA3 arma"></img> 
          {% endif %}
        </td>
        <td>{{ member.spec() }}</td>
        <td>{{ member.attended | length }}</td>
        <td>{{ member.advised | length }}</td>
        <td>{{ member.missing | length }}</td>
        <td >{{ member.absent_trainings }}</td>
        <td {% if member.warn == True %} style="background-color: #f5c6cb" {% endif %}>{{ member.warn }}</td>
        <td>{{ member.total_warns }}</td>
        <td {% if member.on_reserve == True %} style="background-color: #63eaff" {% endif %}>{{ member.on_reserve }}</td>
          
        </tr>
        {% endfor %}
      </tbody>
      </table>
      
    </div>  
  </div>
  
  <div class="card">
    <div class="card-header accordionHeader" id="accordionHeaderTwo">
      <h2 class="mb-0">
        <button id= "collapseBtn2" type="button" class="btn btn-secondary btn-space" data-toggle="collapse" data-target="#simpleTableDiv">Member Search</button>       
      </h2>
    </div>
    <div class="collapse" id="simpleTableDiv">
        <table class="table table-striped table-bordered" style="width:100%" id="simpleMemberTable">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">On leave</th>
                <th scope="col"> </th>
                <th scope="col">Username</th>
                <th scope="col">Rank</th>
                <th scope="col">Required Training</th>
                <th scope="col">Spec</th>
                <th scope="col">Warning Due</th>
                <th scope="col">Geo Zone</th>
              </tr>
            </thead>
          <tbody>
          {% for member in members %}
          <td scope="row">{{ member.id }}</td>
                
              <td {% if member.on_reserve == True %} style="background-color: #63eaff" {% endif %}>{{ member.on_reserve }}</td>
              <td><a href="/pilot/{{ member.id }}">{{ action('view', 'pilot') }}</a>
                <a href="/pilot/{{ member.id }}/edit">{{ action('edit', 'pilot') }}</a>
              </td>
              <td>{{ member.username }}</td>
              <td>{{ member.pilot_rank }}</td>
              <td>{{ member.req_training }}</td>
              <td>{{ member.spec() }}</td>
              <td {% if member.warn == True %} style="background-color: #f5c6cb" {% endif %}>{{ member.warn }}</td>
              <td>{{ member.geozone }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% else %}

<div class="container">
    <table class="table table-striped table-bordered" style="width:100%" id="fullMemberTable">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Rank</th>
            <th scope="col">Join Date</th>
            <th scope="col">WT</th>
            <th scope="col">DCS</th>
            <th scope="col">IL2</th>
            <th scope="col">BMS</th>
            <th scope="col">ARMA</th>
          </tr>
        </thead>
        <tbody>
          {% for member in members %}
          <tr >
            <td><a href="/pilot/{{ member.id }}"> {{ member.username }}</a></td>
            <td>{{ member.pilot_rank }}</td>
            <td>{{ member.join_date.strftime('%Y-%m-%d') }}</td>
            <td
              {% if member.req_training == "wt" %} 
                style="background-color: #d4edda;"              
              {% endif %} >
                {% if member.wt == True %}
                  <img class = "gicon" src="/static/images/logos/wt_logo.png" alt="War Thunder wt"></img> 
                {% endif %}
            </td>
            <td
            {% if member.req_training == "dcs" or member.req_training == "aero" %} 
              style="background-color: #d4edda;"              
            {% endif %} >
              {% if member.dcs == True %}
                <img class = "gicon" src="/static/images/logos/dcs_logo.png" alt="DCS: World dcs"></img> 
              {% endif %}
            </td>
          <td
          {% if member.req_training == "il2" %} 
            style="background-color: #d4edda;"              
          {% endif %} >
            {% if member.il2 == True %}
              <img class = "gicon" src="/static/images/logos/il2_logo.png" alt="IL-2 il2"></img> 
            {% endif %}
          </td>
          <td
          {% if member.req_training == "bms" %} 
            style="background-color: #d4edda;"              
          {% endif %} >
            {% if member.bms == True %}
              <img class = "gicon" src="/static/images/logos/bms_logo.png" alt="Falcon BMS bms"></img> 
            {% endif %}
          </td>
          <td
          {% if member.req_training == "arma" %} 
            style="background-color: #d4edda;"              
          {% endif %} >
            {% if member.arma == True %}
              <img class = "gicon" src="/static/images/logos/arma_logo.png" alt="ARMA3 arma"></img> 
            {% endif %}
          </td>
                          
          </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
      {% endif %}



  
  <script type=text/javascript> 
    $(document).ready( function () {
      $('#fullMemberTable').DataTable({
        'pageLength': 100});

      $('#simpleMemberTable').DataTable({
        searchPane: true,
        'pageLength': 100});
  } );
   
   //recollapse panel after searchPane has loaded
   //$( document ).ready(function(){
   //   $('.collapse').collapse('hide')
   //   console.log('here')
   //   $('.collapse').collapse('hide')
  //});
  
</script>
{% endblock %}

