{% extends 'base.html' %}
{% from  'macros/macros.html' import award_card %}
{% block header %}

<h1>{% block title %}Members{% endblock %}</h1>

{% endblock %}

{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.13.0/bokeh.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.13.0/bokeh.min.css" rel="stylesheet">

<div class="container">
 
  

<div class="card">
  <h2 class="card-header">{{ member.username }}</h3>

    <div class="card-body">
      <h5 class="card-title">General Statistics</h5>
      <p class="card-text">
        <table class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Rank</th>
              <th scope="col">Join Date</th>
              <th scope="col">WT</th>
              <th scope="col">DCS</th>
              <th scope="col">IL2</th>
              <th scope="col">BMS</th>
              <th scope="col">ARMA</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <th scope="row">{{ member.id }}</th>
              <td>{{ member.pilot_rank }}</td>
              <td>{{ member.join_date.strftime('%Y-%m-%d') }}</td>
              <td
              {% if member.req_training == "wt" %} 
                style="background-color: #d4edda;"              
              {% endif %} >
                {% if member.wt == True %}
                  <img class = "gicon" src="/static/images/logos/wt_logo.png" alt="War Thunder wt"></img> 
                {% endif %}
            </td>
            <td
            {% if member.req_training == "dcs" or member.req_training == "aero" %} 
              style="background-color: #d4edda;"              
            {% endif %} >
              {% if member.dcs == True %}
                <img class = "gicon" src="/static/images/logos/dcs_logo.png" alt="DCS: World dcs"></img> 
              {% endif %}
            </td>
          <td
          {% if member.req_training == "il2" %} 
            style="background-color: #d4edda;"              
          {% endif %} >
            {% if member.il2 == True %}
              <img class = "gicon" src="/static/images/logos/il2_logo.png" alt="IL-2 il2"></img> 
            {% endif %}
          </td>
          <td
          {% if member.req_training == "bms" %} 
            style="background-color: #d4edda;"              
          {% endif %} >
            {% if member.bms == True %}
              <img class = "gicon" src="/static/images/logos/bms_logo.png" alt="Falcon BMS bms"></img> 
            {% endif %}
          </td>
          <td
          {% if member.req_training == "arma" %} 
            style="background-color: #d4edda;"              
          {% endif %} >
            {% if member.arma == True %}
              <img class = "gicon" src="/static/images/logos/arma_logo.png" alt="ARMA3 arma"></img> 
            {% endif %}
          </td>
            </tr>
          </tbody>
        </table>
      {% if is_user %}
        <table class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>              
                <th scope="col">Recent unadvised</th>
                <th scope="col">On leave</th>
                <th scope="col">On leave since:</th>
                <th scope="col">Current membership</th>
                <th scope="col">Location</th>
                <th scope="col">Training Zone</th>
              </tr>
            </thead>
            <tbody>
  
              <tr>
                <td>{{ member.absent_trainings }}</td>
                <td>{{ member.on_reserve }}</td>
                <td>{{ member.reserve_date }}</td>
                <td>{{ member.active }}</td>
                <td>{{ member.location }}</td>
                <td>{{ member.geozone }}</td>
              </tr>
  
            </tbody>
          </table>
        {% endif %}
    </div>
</div>
<div class= "container">
  <div class="wrapper">
      {% if not member.awards %}
      <h3>No awards</h3>
      {% endif %}
      {% for award in member.awards %}
        <div> {{ award_card(award) }} </div>
      {% endfor %}
  </div>
  <div class="row justify-content-center">
    <div class="col-6 justify-content-center">
      {{ div1 | safe }}
      {{ script1 | safe }}
    </div>
    <div class="col-6 justify-content-center">
        {{ div2 | safe }}
        {{ script2 | safe }}
    </div>
  </div>
{% if is_user %}
{% if member.req_trainings == "wt" %}
<div class="card" style="background-color: aqua">
  {% else %}
  <div class="card">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">War Thunder Statistics</h5>
      <table class="table table-striped table-bordered" style="width:100%"" id="wtTable">
        <thead>
          <tr>
            <th scope="col">Completed Trainings</th>
            <th scope="col">Advised Trainings</th>
            <th scope="col">Missed Trainings</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>{{ trainings['wt']['attended'] }}</td>
            <td>{{ trainings['wt']['advised'] }}</td>
            <td>{{ trainings['wt']['missing'] }}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  {% if member.req_trainings == "il2" %}
  <div class="card" style="background-color: aqua">
    {% else %}
    <div class="card">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">IL2 Statistics</h5>
        <table class="table table-striped table-bordered" style="width:100%"" id="il2Table">
          <thead>
            <tr>
              <th scope="col">Completed Trainings</th>
              <th scope="col">Advised Trainings</th>
              <th scope="col">Missed Trainings</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>{{ trainings['il2']['attended'] }}</td>
              <td>{{ trainings['il2']['advised'] }}</td>
              <td>{{ trainings['il2']['missing'] }}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    {% if member.req_trainings == "bms" %}
    <div class="card" style="background-color: aqua">
      {% else %}
      <div class="card">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">Falcon BMS Statistics</h5>
          <table class="table table-striped table-bordered" style="width:100%"" id="bmsTable">
            <thead>
              <tr>
                <th scope="col">Completed Trainings</th>
                <th scope="col">Advised Trainings</th>
                <th scope="col">Missed Trainings</th>
              </tr>
            </thead>
            <tbody>
  
              <tr>
                <td>{{ trainings['bms']['attended'] }}</td>
                <td>{{ trainings['bms']['advised'] }}</td>
                <td>{{ trainings['bms']['missing'] }}</td>
              </tr>
  
            </tbody>
          </table>
        </div>
      </div>

    {% if member.req_trainings == "dcs" %}
    <div class="card" style="background-color: aqua">
      {% else %}
      <div class="card">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">DCS Statistics</h5>
          <table class="table table-striped table-bordered" style="width:100%"" id="dcsTable">
            <thead>
              <tr>
                <th scope="col">Completed Trainings</th>
                <th scope="col">Advised Trainings</th>
                <th scope="col">Missed Trainings</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ trainings['dcs']['attended'] }}</td>
                <td>{{ trainings['dcs']['advised'] }}</td>
                <td>{{ trainings['dcs']['missing'] }}</td>              
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </p>
      
      
      </div>
    </div>
    </div>   
   
    <div class="container">

          
        <h5 class="card-title">Training Log</h5>
        <table class="table table-striped table-bordered" style="width:100%"" id="logTable">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Date</th>
              <th scope="col">Type</th>
              <th scope="col">Description</th>

            </tr>
          </thead>
          <tbody>
            {% for tr in member.attended %}
            <tr>
              <td>{{ tr.id }}</td>
              <td> <a href="/training/{{ tr.id }}">{{ tr.date.strftime('%Y-%m-%d') }}</a></td>
              <td>{{ tr.sim }}</td>
              <td>{{ tr.description[:75] + '...' }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      
    </div>
    {% endif %}
  </div>
</div>
</div>


  
  <script type=text/javascript> 
    $(document).ready( function () { 
      $('#logTable').DataTable(); 
    } ); 
  </script> 
  {% endblock %}