{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "specs" %}



{% block content %}
<h1>{% block title %}Available Specialisations (all platforms){% endblock %}</h1>

<div class="container">
        <a class="btn btn-secondary btn-space"
        href="{{ url_for('members.add_spec') }}">Create Specialisation</a>
    <table class="table table-striped table-bordered" style="width:100%" id="specTable">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Members</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for spec in specs %}
                <tr>                
                    <td scope="row">{{ spec.id }}</td>
                    <td scope="row"><a href="/spec/{{ spec.id }}">{{ spec.name }}</a></td>
                    <td scope="row"></a>{{ spec.members() | length }}</td>
                    <td><a href="/delete_spec/{{ spec.id }}">{{ action('delete', "specialisation") }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}