{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from  'macros/macros.html' import action %}
{% set active_page = "specs" %}



{% block content %}
<h1>{% block title %}{{ spec.name }}{% endblock %}</h1>

<div class="container">
    <table class="table table-striped table-bordered" style="width:100%" id="specTable">
        <thead>
            <tr>
                <th scope="col">Pilot</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>                
                    <td scope="row"><a href = "/pilot/{{ member.id }}"> {{ member.username }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}