{% extends 'base.html' %}
{% set active_page = 'statistics' %}

{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.13.0/bokeh.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/0.13.0/bokeh.min.css" rel="stylesheet">


<div class="container">
  <h1>{% block title %}Statistics{% endblock %}</h1>
  <div class="card">
    <div class="card-header accordionHeader">
      <a href="{{ url_for('members.empire') }}" class="btn btn-info btn-space">View X51 World Map</a>
    </div>
  </div>
  <div class="card">
      <h2 class="card-header">Graphs</h2>
    <div class="card-body">
  
      <div class="row justify-content-center">
        <div class="col-6">
          <div>
            {{ div_players_per_platform | safe }}
          </div>
          {{ script_players_per_platform | safe }}
        </div>
        <div class="col-6">
          <div>
            {{ div_main_sim_pie | safe }}
          </div>
          {{ script_main_sim_pie | safe }}
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
          <div id="histogram" style="width:350px;height:350px;text-align:center;"></div>
        </div>
        <div class="col-6">
          <div>
              {{ div_rank_pie | safe }}
          </div>
          {{ script_rank_pie | safe }}
        </div>
      </div>
    </div>
  </div>
       
  <div class="card">
    <h2 class="card-header">Statistics</h3>

      <div class="card-body">
        <h5 class="card-title">General Statistics</h5>
        <p class="card-text">
          <table class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">Number</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                {% for rank, value in rank_stats.items() %}
                <th scope="row">{{ rank }}</th>
                <td> {{ value }}</td>
              </tr>
              {% endfor %}
              <tr>
                <th>TOTAL RANKED MEMBERS</th>
                <td>{{ member_stats['total_members'] }}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="card-body">
        <h5 class="card-title">Training Statistics</h5>
        <p class="card-text">

          <table class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th scope="col">Training</th>
                <th scope="col">Number</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"> War Thunder</th>
                <td>{{ training_stats['wt'] }}</td>
              </tr>
              <tr>
                <th scope="row"> IL2</th>
                <td>{{ training_stats['il2'] }}</td>
              </tr>
              <tr>
                <th scope="row"> DCS: World</th>
                <td>{{ training_stats['dcs'] }}</td>
              </tr>
              <tr>
                <th scope="row"> Falcon BMS</th>
                <td>{{ training_stats['bms'] }}</td>
              </tr>
            </tbody>
            </table>  
      </div>
      <div class="center">
        {{ div_attendance_graph | safe }}
        {{ script_attendance_graph | safe }}
      </div>
  </div>
</div>


  <script type=text/javascript> 
    $(document).ready( function () { 
      $('#logTable').DataTable(); 
    } ); 
  </script>

  <script type="text/javascript">
    var layout = {
        title: 'Squadron growth over time',
        width: 400,
        height: 400

    }
          
    var graphs = {{ join_graphJSON | safe }};
    console.log(graphs.data)
    
    Plotly.plot('histogram',graphs,layout);        

  </script>

  {% endblock %}
